---
import Container from "@components/container.astro";
import Layout from "@layouts/Layout.astro";
---

<Layout title="专家问答">
  <Container>
    <h1
      class="text-3xl lg:text-4xl xl:text-5xl font-bold lg:tracking-tight xl:tracking-tighter">
      专家问答
    </h1>
    <script
      src="https://giscus.app/client.js"
      data-repo="3DRX/school_health_website"
      data-repo-id="R_kgDOMN_laA"
      data-category="General"
      data-category-id="DIC_kwDOMN_laM4Cgii7"
      data-mapping="pathname"
      data-strict="0"
      data-reactions-enabled="1"
      data-emit-metadata="0"
      data-input-position="bottom"
      data-theme="light"
      data-lang="en"
      crossorigin="anonymous"
      async></script>
  </Container>
</Layout>
